.button-wrapper {
  --button-border-width: 1px;
  --button-border-color: var(--color-text-primary);

  --button-text-color: var(--color-text-primary);
  --button-background-color: var(--color-background-primary);

  all: initial;

  border: none;
  background-color: transparent;

  position: relative;
  cursor: pointer;

  text-align: center;
  min-width: 150px;

  transition-duration: 0.2s;
  transition-property: transform;

  .button {
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(to bottom right, var(--color-main) 10%, var(--color-accent));

    text-transform: uppercase;

    padding: 20px;
    background-color: transparent;

    transition-duration: 0.2s;
    transition-property: filter;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, var(--color-main), var(--color-accent));

    &__label {
      font-size: 10px;
      font-family: PixelFont;
      font-weight: var(----font-weight-regular);
    }
  }

  .hash {
    position: absolute;
    bottom: -6px;
    right: 16px;

    padding: 4px;
    display: none;

    font-size: 9px;
    font-family: PixelFont;
    font-weight: var(----font-weight-regular);

    color: var(--color-accent);
    background-color: #111111;
  }

  &__glitch {
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);

    position: absolute;
    left: 0;
    top: 0;

    display: none;

    width: 100%;
    height: 100%;

    animation: glitch 2s infinite;
    background-image: linear-gradient(to right, rgba(var(--color-main-rgb), 0.3), rgba(var(--color-accent-rgb), 0.3));
  }

  &--small {
    .button {
      --aug-border-all: 1px;
      padding: 12px;
    }

    .hash {
      bottom: -8px;
      padding: 4px;

      font-size: 8px;
    }
  }

  &--primary {
    .button {
      filter: drop-shadow(2px 2px 2px var(--color-main));
      background-image: linear-gradient(to bottom right, rgba(var(--color-main-rgb), 0.118) 10%, rgba(var(--color-accent-rgb), 0.2));

      -webkit-background-clip: initial;
      -webkit-text-fill-color: white;
    }
  }

  &:hover {
    transform: translate(1px, -1px);

    .button-wrapper__glitch {
      display: block;
    }

    .button__label {
      text-shadow: 2px 2px 20px var(--color-main), -2px -2px 20px var(--color-accent);
    }

    .hash {
      display: block;
    }
  }
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }

  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }

  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }

  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}