.button-wrapper {
  --button-border-width: 1px;
  --button-border-color: var(--color-text-primary);

  --button-text-color: var(--color-text-primary);
  --button-background-color: var(--color-background-primary);

  position: relative;

  .hash {
    position: absolute;
    bottom: -3px;
    right: 16px;

    padding: 0 4px;
    display: none;

    font-size: 8px;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
  }

  .button {
    --aug-border-all: 1px;

    padding: 16px 18px;
    background-color: transparent;
  }

  &:hover .hash {
    display: block;
  }

}