.button-wrapper {
  --button-border-width: 1px;
  --button-border-color: var(--color-text-primary);

  --button-text-color: var(--color-text-primary);
  --button-background-color: var(--color-background-primary);

  all: initial;

  border: none;
  background-color: transparent;

  position: relative;
  cursor: pointer;

  text-align: center;
  min-width: 150px;

  .button {
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(to bottom right, var(--color-main) 10%, var(--color-accent));

    text-transform: uppercase;

    padding: 20px;
    background-color: transparent;

    transition-duration: 0.2s;
    transition-property: filter;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, var(--color-main), var(--color-accent));

    &__label {
      font-size: 10px;
      font-family: PixelFont;
      font-weight: var(----font-weight-regular);
    }
  }

  .hash {
    position: absolute;
    bottom: -6px;
    right: 16px;

    padding: 4px;
    display: none;

    font-size: 9px;
    font-family: PixelFont;
    font-weight: var(----font-weight-regular);

    color: var(--color-accent);
    background-color: #111111;
  }

  &--small {
    .button {
      --aug-border-all: 1px;
      padding: 12px;
    }

    .hash {
      bottom: -8px;
      padding: 4px;

      font-size: 8px;
    }
  }

  &:hover {
    .hash {
      display: block;
    }

    .button {
      filter: drop-shadow(2px 2px 2px var(--color-main));
      background-image: linear-gradient(to bottom right, rgba(var(--color-main-rgb), 0.118) 10%, rgba(var(--color-accent-rgb), 0.2));

      -webkit-background-clip: initial;
      -webkit-text-fill-color: white;
    }
  }
}