:root {
  --color-background-primary: #121513;
  --color-background-primary-rgb: 18, 21, 19;

  --color-text-primary: #ffffff;
  --color-text-primary-rgb: 255, 255, 255;

  --color-main: #ff49ff;
  --color-main-rgb: 255, 73, 255;

  --color-accent: #75f3ec;
  --color-accent-rgb: 117, 243, 236;
}