.title {
  --title-color: #ffffff;

  position: relative;
  width: fit-content;

  color: var(--title-color);
  margin-bottom: 50px;

  &__label {
    font-size: 24px;
    color: var(--title-color);

    animation: text-flicker 1.5s infinite alternate;
  }

  &__border {
    position: absolute;
    bottom: -12px;
    left: 0;

    background-color: #ffffff;
    animation: box-flicker 1.5s infinite alternate;

    &--1 {
      height: 1px;
      width: 100%
    }

    &--2 {
      bottom: -18px;

      height: 7px;
      width: 60px;

      clip-path: polygon(0 0, 100% 0%, 83% 100%, 0 100%);
    }
  }
}

@keyframes text-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px var(--title-color),
      0 0 11px var(--title-color),
      0 0 19px var(--title-color),
      0 0 40px var(--color-main),
      0 0 80px var(--color-main),
      0 0 90px var(--color-main),
      0 0 100px var(--color-main),
      0 0 150px var(--color-main);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes box-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 4px var(--title-color),
      0 0 11px var(--title-color),
      0 0 19px var(--title-color),
      0 0 40px var(--color-main),
      0 0 80px var(--color-main),
      0 0 90px var(--color-main),
      0 0 100px var(--color-main),
      0 0 150px var(--color-main);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}
