.title {
  --title-color: #ffffff;

  position: relative;
  width: fit-content;

  color: var(--title-color);
  margin-bottom: 50px;

  &__label {
    font-size: 24px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(60deg, rgba(var(--color-main-rgb), 0.8), rgba(var(--color-accent-rgb), 0.4));

    animation-duration: 6s;
    animation-name: title-flicker;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
  }

  &__border {
    position: absolute;
    bottom: -12px;
    left: 0;

    background-image: linear-gradient(60deg, rgba(var(--color-main-rgb), 0.7), rgba(var(--color-accent-rgb), 0.7));

    &--1 {
      height: 1px;
      width: 100%
    }

    &--2 {
      bottom: -18px;

      height: 7px;
      width: 60px;

      clip-path: polygon(0 0, 100% 0%, 83% 100%, 0 100%);
    }
  }
}

@keyframes title-flicker {
  0% {
    filter: drop-shadow(0 0 5px var(--color-main));
  }

  30% {
    filter: drop-shadow(0 0 0px var(--color-accent));
  }

  60% {
    filter: drop-shadow(0 0 4px var(--color-main));
  }

  90% {
    filter: drop-shadow(0 0 1px var(--color-accent));
  }

  100% {
    filter: drop-shadow(0 0 6px var(--color-main));
  }
}