@import './../../theme/mixins/limit';

@property --team-border-color {
  syntax: '<degree>';
  initial-value: 0deg;
  inherits: false;
}

.team {
  position: relative;
  background-color: rgba(var(--color-accent-rgb), 0.1);

  &::before {
    content: '';
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: url(./../../../public/images/skyscrappers.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    opacity: 0.2;
  }

  @include padding;

  &__wrapper {
    @include limit;
    margin-block: 50px;
  }

  &__divider {
    position: absolute;
    left: 0;

    width: 100%;
    height: 36px;

    background-image: url(./../../../public/images/divider.svg);
    filter: contrast(0.881);

    &--top {
      top: -1px;
      transform: scale(-1);
    }

    &--bottom {
      bottom: -1px;
    }
  }

  &__body {
    font-size: 14px;
  }

  &__head {
    margin-bottom: 80px;
  }

  &__description {
    margin-bottom: 80px;
  }

  &__members {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .member {
    cursor: grab;
  
    position: relative;
    animation: 2s rotate-border infinite;

    transition-duration: 0.2s;
    transition-property: filter;

    filter: drop-shadow(5px 5px 12px rgba(var(--color-accent-rgb), 0.2)) drop-shadow(-5px -5px 12px rgba(var(--color-main-rgb), 0.2));

    &__wrapper {
      --aug-border-all: 2px;
      --aug-border-bg: linear-gradient(var(--team-border-color), var(--color-main) 10%, var(--color-accent));
    }

    &__picture {
      width: 160px;
      height: 170px;

      transition-duration: 5s;
      transition-property: transform;

      img {
        width: 100%;
      }
    }

    &__name {
      pointer-events: none;
      position: absolute;
      bottom: 20px;
      right: -30px;

      font-size: 18px;
      color: var(--color-accent);
      text-shadow: 2px 2px 0 var(--color-main);
      
      animation-duration: 2s;
      animation-name: hover-name;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      transition-duration: 0.2s;
      transition-property: top left right bottom font-size;
    }

    &:hover {
      animation: 2s rotate-shadow infinite;

      .member__picture {
        transform: scale(1.1);
      }

      .member__name {
        animation-name: none;
        
        top: 10px;
        left: -60px;
        right: initial;
        bottom: initial;

        font-size: 30px;
        line-height: 40px;

        display: block;
        max-width: 0px;

        font-weight: var(--font-weight-bold);

        &::after {
          content: '_';

          animation-name: blink;
          animation-duration: 0.5s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}

.team__parallax {
  transform-style: preserve-3d;
}

@keyframes hover-name {
  from {
    transform: translateY(-4px);
  }
  
  to {
    transform: translateY(4px);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes rotate-border {
  0% {
    --team-border-color: 0deg;
  }

  25% {
    --team-border-color: 90deg;
  }

  50% {
    --team-border-color: 180deg;
  }

  75% {
    --team-border-color: 270deg;
  }

  100% {
    --team-border-color: 360deg;
  }
}

@keyframes rotate-shadow {
  0% {
    filter: drop-shadow(5px 5px 12px rgba(var(--color-accent-rgb), 1)) drop-shadow(-5px -5px 12px rgba(var(--color-main-rgb), 1));
  }

  25% {
    filter: drop-shadow(3px 2px 16px rgba(var(--color-main-rgb), 1)) drop-shadow(-3px -2px 16px rgba(var(--color-accent-rgb), 1));
  }

  50% {
    filter: drop-shadow(4px 2px 8px rgba(var(--color-accent-rgb), 1)) drop-shadow(-5px -8px 8px rgba(var(--color-main-rgb), 1));
  }

  75% {
    filter: drop-shadow(2px 3px 13px rgba(var(--color-main-rgb), 1)) drop-shadow(-8px -2px 13px rgba(var(--color-accent-rgb), 1));
  }

  100% {
    filter: drop-shadow(4px 6px 10px rgba(var(--color-accent-rgb), 1)) drop-shadow(-3px -2px 10px rgba(var(--color-main-rgb), 1));
  }
}
