@import './../../theme/mixins/limit';

.about {
  position: relative;

  height: 100%;
  background-color: var(--color-background-primary);

  &::before {
    content: '';

    position: absolute;
    top: -200px;
    left: 0;

    height: 200px;
    width: 100%;

    background-image: linear-gradient(to top, var(--color-background-primary), transparent);
    z-index: 0;
  }

  @include padding;

  &__wrapper {
    @include limit;
  }

  &__body {
    font-size: 14px;

    display: flex;
    justify-content: center;
  }

  &__right {
    margin-left: 100px;
  }

  &__building {
    width: 350px;

    animation-name: building-bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }
}

@keyframes building-bounce {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(15px);
  }
}