@import './../../theme/mixins/limit';

.preview {
  background-color: var(--color-background-primary);

  @include padding;

  &__wrapper {
    @include limit;
  }

  &__body {
    font-size: 14px;

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }
}