@import './../../theme/mixins/limit';

.home {
  height: 95%;
  max-height: 62vh;

  padding: 0 10px;

  &__wrapper {
    display: flex;
    align-items: center;

    height: 100%;

    @include limit;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
  }

  &__content {
    max-width: 500px;
  }

  &__title {
    width: 350px;

    .title {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;
  }

  &__building {
    width: 350px;

    animation-name: building-bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }
}

@keyframes building-bounce {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(15px);
  }
}