@import './../../theme/mixins/limit';

.home {
  height: 95%;
  max-height: 62vh;

  position: relative;
  @include padding;

  &__wrapper {
    display: flex;
    align-items: center;

    height: 100%;
    z-index: 1;

    @include limit;
  }

  &__particles {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__stars {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(./../../../public/images/stars.jpg);
    background-size: 50%;

    opacity: 0.4;
    z-index: -2;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
  }

  &__content {
    max-width: 500px;
  }

  &__title {
    width: 350px;

    .title {
      width: 100%;
      filter: contrast(0.85) saturate(1.2);
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;
  }

  &__building {
    width: 350px;

    animation-name: building-bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }
}

@keyframes building-bounce {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(15px);
  }
}