@import './../../theme/mixins/limit';

.home {
  height: 100%;
  max-height: 62vh;

  position: relative;
  @include padding;

  @media (max-width: 640px) {
    max-height: 50vh;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    height: 100%;
    z-index: 1;

    @include limit;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__particles {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__stars {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(./../../../public/images/stars.jpg);
    background-size: 50%;

    opacity: 0.35;
    z-index: -2;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
  }

  &__right {
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__content {
    max-width: 500px;

    @media (max-width: 640px) {
      text-align: center;
    }
  }

  &__title {
    width: 350px;

    .title {
      width: 100%;
      filter: contrast(0.85) saturate(1.2);
    }

    @media (max-width: 640px) {
      margin: auto;
      width: 300px;
    }

    @media (max-width: 420px) {
      width: 200px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 28px;

    @media (max-width: 640px) {
      font-size: 13px;
    }

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    
    margin-top: 30px;

    @media (max-width: 640px) {
      justify-content: center;
    }

    @media (max-width: 420px) {
      flex-direction: column;
    }
  }

  &__button {
    margin: 0 10px;

    @media (max-width: 420px) {
      margin-bottom: 15px;
    }
  }
}