.header {
  padding: 0 10px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    max-width: 1400px;
  }

  &__logo .logo {
    width: 140px;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    cursor: pointer;
    display: inline-block;

    color: var(--color-text-primary);

    padding: 10px;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
      padding-right: 0;
    }
  }
}